<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <!--   <link rel="stylesheet" href="{{ url_for('static', filename='http://www.tucsonaz.gov/maps-and-records/css/gridism.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='http://www.tucsonaz.gov/maps-and-records/css/main.css') }}"/>
-->
    {%  block head %} {%  endblock %}
</head>
<body>
    {% block body %}


    {% endblock %}
</body>
</html>



<!doctype html>
<title>Path: {{ tree.name }}</title>
<h1>{{ tree.name }}</h1>
